//Created by clay on 2017/12/11.
doctype html
html(lang='zh-CN')
  head
    title #{title}
    include header
  body
    div(class='row col-sm-2')
      ul(class='nav nav-pills nav-stacked')
        li(role='presentation')
          a(href='/') 首   页
        li(role='presentation')
          a(href='/task') 待   办
        li(class='active',role='presentation',id='admin')
          a(href='/admin') 管理后台
    div(class='row col-sm-1')
    div(class='row col-sm-9')
      div(class='container')
        form(action='/task/notice/update' method='post')
          h3 编辑公告
          textarea(type='text',name='notice',class='form-control',rows='3')
          button(type='submit',class='btn btn-primary active') 提交
        br
        br
        form(action='/task/add' method='post')
          h3 编辑任务
          label 标题:
            input(name="title")
          textarea(type='text',name='content',class='form-control',rows='3')
          button(type='submit',class='btn btn-primary active') 提交

    include footer