extends layout

block content
  form(action='/users' method='post')
    h1 登录
    p 用户名:
    input(name="name")
    br
    p 密&nbsp;&nbsp;&nbsp;&nbsp码:
    input(name="password")
    p
    button(type='button',class='btn btn-primary btn-lg active') 登录