//navigator.jade
ul(class='nav nav-pills nav-stacked')
  li(role='presentation')
    a(href='/') 首   页
  li(class='active',role='presentation',id='home')
    a(href='/task') 待   办
  li(role='presentation',id='admin')
    a(href='/admin') 管理后台
